#engine {
    background: #21201D;
    height: calc(var(--screenHeight) - 40px);
    color: white;
    border-radius: 10px;
    margin: 20px 20px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(var(--screenWidth) * 0.3);
}

#engine .heading {
    font-size: smaller;
    margin: 10px;
    text-align: right;
}

#engine .engine-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
}

#engine .radio-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#engine .radio-inputs .radio {
    width: 40%;
    margin: 5px;
    text-align: center;
    background: #dbd9d7;
    color: #666463;
    padding: 5px 15px;
    border-radius: 3px;
    font-weight: bolder;
}

#engine .radio-inputs .radio.selected {
    background: #fff;
    color: #000;
    border: 2px solid rgb(139, 122, 147);
}

#engine .radio-inputs .radio:hover {
    background: #b5b3b3;
    cursor: pointer;
}

#engine .depth-input input {
    width: 70px;
    background-color: #fff;
    color: #000;
    border-radius: 3px;
    padding: 2px;
    font-size: 13px;
    text-align: center;
}

#engine .engine-moves-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#engine .engine-moves {
    display: flex;
    margin: 3px;
}

#engine .engine-moves .eval {
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: bold;
    margin-right: 10px;
}

#engine .engine-moves .eval.white {
    background: white;
    color: black;
    border-bottom: 1px solid #767573;
    border-right: 1px solid #767573;
}

#engine .engine-moves .eval.black {
    background: black;
    color: white;
    border-bottom: 1px solid #434343;
    border-right: 1px solid #434343;
}

#engine .move-logs {
    padding: 20px;
    flex-grow: 1;
}

#engine .close-analysis {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

#engine .close-analysis div {
    background: #dbd9d7;
    color: #666463;
    padding: 5px 15px;
    border-radius: 3px;
}

#engine .close-analysis div:hover {
    background: #b5b3b3;
    cursor: pointer;
}

#engine .fen {
    display: flex;
    justify-content: center;
}

#engine .fen input {
    border: 1px solid #737271;
    border-radius: 4px;
    background: #b5b3b3;
    height: 30px;
    width: 90%;
    margin: 0;
    padding: 4px 10px;
    color: #434343;
}

#engine .navigate-moves {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    padding: 25px 10px;
}

#engine .navigate-moves div {
    padding: 5px;
    background: #454442;
    flex-grow: 1;
    justify-content: center;
    margin: 3px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

#engine .navigate-moves div:hover {
    background: #737271;
}

#engine .divider {
    height: 2px;
    background: #737271;
}