.About{
    display: flex;

}

.About .About-content{
    width: 80%;
    height: 100vh;
    overflow-y: scroll;
    padding: 30px;
    color: white;
}

.About .About-content h1{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px;
}   
