 .tile {
     display: grid;
     place-content: center;
     width: 50px;
     height: 50px;
 }
 
 .white-tile {
     background-color: #CDCDCD;
 }
 
 .black-tile {
     background-color: #ABABAB
 }
 
 .tile .chess-piece {
     width: 40px;
     height: 40px;
     background-repeat: no-repeat;
     background-position: center;
     background-size: 40px;
 }
 
 .tile .chess-piece:hover {
     cursor: grab;
 }
 
 .tile .chess-piece:active {
     cursor: grabbing;
 }
 
 .tile img {
     width: 40px;
 }